.character-count {
	--progress-circle-radius: 1.5rem;
	--progress-circle-stroke-width: 0.3rem;

	--progress-circle-size: calc((var(--progress-circle-radius) * 2) + var(--progress-circle-stroke-width));

	align-items: center;
	display: flex;
	justify-content: center;
	opacity: 1;
	position: relative;
	transition-duration: 0.2s;
	transition-property: color, opacity, transform;
	transform: scale(1);

	&[hidden] {
		opacity: 0;
		transform: scale(0);
	}

	svg {
		color: inherit;
		height: var(--progress-circle-size);
		stroke-linecap: round;
		width: var(--progress-circle-size);

		circle {
			fill: transparent;
			transition-duration: 0.2s;
			transition-property: stroke-dasharray;
		}

		.progress-value {
			stroke: currentColor;
			stroke-width: var(--progress-circle-stroke-width);
			transform: rotate(-90deg);
			transform-origin: 50% 50%;
		}
	}

	.characters-remaining {
		align-items: center;
		bottom: 0;
		display: flex;
		flex-basis: 0;
		flex-shrink: 1;
		font-size: 0.6em;
		justify-content: center;
		left: 0;
		opacity: 1;
		position: absolute;
		right: 0;
		top: 0;
		transition-duration: 0.2s;
		transition-property: opacity;

		&[hidden] {
			opacity: 0;
		}
	}
}
