.split-page {
	.column:first-child {
		align-content: stretch;
		align-items: stretch;
		align-self: stretch;
		display: flex;
	}

	figure {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		flex-grow: 1;
		width: 100%;

		figcaption {
			bottom: var(--gutter);
			left: var(--gutter);
			position: absolute;
		}
	}

	// > :last-child {
	// 	padding: native-max(var(--gutter), 10rem);
	// }
}
