[role=application] {
  align-items: stretch;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  width: native-min(100rem, 100vw);
}
