.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  span {
    text-transform: lowercase;

    + span {
      margin-top: 1rem;
    }
  }
}
